<main>
    <p>Picture here</p>
    <h2>Your Name</h2>

    <h3>12,902</h3>

    <div>
        <h3>Your Upcoming Events</h3>
        {{!-- these can turn into their own parial --}}
        <p>cards here</p>
        <p>cards here</p>
        <p>cards here</p>
    </div>

    <div>
        <h3>Clubs You're In</h3>
        {{!-- these can turn into their own parial --}}
        <p>cards here</p>
        <p>cards here</p>
        <p>cards here</p>
    </div>


</main>