<main>
    <h1>Make School Club App</h1>
    <p>Make school club app bio</p>

    <button>Login</button>
    <button>Signup</button>

    <p>Questions? email xyz</p>

    <h2>More club events here</h3>
</main>