<main class="login-page">
    <section class="top">
        <h3>Login</h3>
    </section>
    <form class="login-form" action="/login" method="post">
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Username" oninput="this.className = ''">
            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" oninput="this.className = ''">    
            <button class="white-btn" type="submit">Login</button>
            <p><a class="new-account-txt" href="/start">Create an account?</a></p>

    </form>
</main>