<main>
    <legend>Settings</legend>
    <p>
        Name
    </p>
    <p>
        Email
    </p>
    <p>
        Number
    </p>
    <p>
        Picture
    </p>
    <p>
        Password
    </p>
</main>