<main>
    <form id="getStartedForm" class="get-started-form" action="/signup" method="post">
        <h3>Signup</h3>

        <input type="text" name="fullName" placeholder="Full Name">
        <input type="text" name="username" placeholder="Username">
        <input type="password" name="password" placeholder="Password" minlength="3">
        <button type="submit">Sign Up</button>
    </form> 

</main>